

.imagem-de-venda-do-boi{
    position: fixed; left: 550px; top: 100px;
    width: 700px; height: 390px;
}

.valor-do-boi{
    position: fixed; left: 560px; top: 40px;
}

.container{
    position: fixed; left: 1252px; top: 100px;
    width: 13%;
    height: 40vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.chatbox{
    position: fixed; left: 1255px; bottom: 489px;
}

::placeholder{
    background: #D3D3D3;
    color: #000000;
}

.inputator{
    background: #D3D3D3;
    display: flex;
    width: 236px;
    height: 30px;
}

.kupizkano{
    position: fixed; left: 1460px; bottom: 494px;
    width: 1.5%;
}

.valor-de-compra-boi{
    position: fixed; left: 560px; bottom: 430px;
    color: rgb(143, 0, 0);
}

.botao-de-comprar{
    width: 15%;
    position: fixed; left: 760px; bottom: 305px;
}

.caixadono{
    position: fixed; left: 5px; top: 725px;
    width: 40%;
    height: 25vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.dono-do-site{
    position: fixed; left: 15px;
    border-radius: 30%;
}

.nome-do-dono{
    position: fixed; left: 250px; bottom: 190px;
}

.texto-do-dono{
    font-size: 120%;
    position: fixed; left: 250px; bottom: 190px;
    margin: 0px; height:0px; width: 500px;
}
