body{
    background-color: #637B51;
}

.imagem-de-venda-do-boi{
    position: fixed; left: 450px; top: 100px;
    width: 40%;
}

.valor-do-boi{
    position: fixed; left: 460px; top: 40px;
}
.sedex{
    width: 15%;
    position:fixed; left:1230px; top:550px
}
.void{
   border: red;
    position:fixed; left:460px ;top:510px
}
.cu{
   
    font-size: 150%;

}
.amogus{
    width: 15%;
    position: fixed; left: 1230px; top: 630px;
}
.cp{
    width:5%;
    position: fixed; left: 1500px;top:800px
}
.patrocinador2{
    width: 7%;
    position: fixed; left:1350px; top:800px
}
.patrocinador3{
    width:5%;
    position: fixed; left:1230px; top:800px;
}
